version: 2
updates:
  - package-ecosystem: "uv"
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    target-branch: "dev"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      target-branch: "dev"
